<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Innn</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex justify-center align-center mt-44">
    <div class="p-10">
        <h1 class="text-3xl ml-12">You are innn!!!</h1>
        <hr>
      <form class="p-5" action="/logout" method="POST">
        <input
          class="p-2 bg-green-800 rounded-lg text-white mt-4 cursor-pointer w-64 mt-6"
          type="submit"
          value="Log Out"
        />
      </form>
      <a class="ml-20" href="/register">Create a new user</a>
    </div>
  </body>
</html>
